@model RiceStore.Models.ProDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>QUẢN LÝ KHO HÀNG</h2>
<h3 style="color:blue">Chi tiết nhập hàng</h3>
<hr />

<dl>
    <dt>
        NHÀ CUNG CẤP
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Supplier.SupName)
    </dd>
    <dt>
        TÊN SẢN PHẨM
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Product.ProName)
    </dd>
    <dt>
        ĐƠN GIÁ
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Price)
    </dd>

    <dt>
        SỐ LƯỢNG TỒN
    </dt>

    <dd>
        @Html.DisplayFor(model => model.RemainQuantity)
    </dd>

    <dt>
        SỐ LƯỢNG ĐÃ BÁN
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SoldQuantity)
    </dd>
</dl>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Chỉnh sửa", "Edit", null, new { id = Model.ProDeID, @class = "btn btn-primary" })
        @Html.ActionLink("Danh sách", "Index", null, new { @class = "btn btn-info" })
    </div>
</div>
